body {
    display: flex;
    flex-direction: column;
    height: auto;
}


main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
}

aside {
    flex: 1;
}

article, aside {
    overflow-y: auto;
    min-width: 0;
}

article img {
    max-width: 100%;
}

h1 {
    margin-bottom: 40px;
}

header {
  height: auto;
}

header ul li a {
  box-shadow: inset 0 -2px 0 transparent;
  transition: box-shadow 0.3s;
}

header ul li a:hover {
  box-shadow: inset 0 -2px 0 rgb(59, 61, 59);
}

header ul {
  max-width: 100%;
  margin: 26px auto;
}

@media (max-width: 1174px) {
  header ul li {
  	display: block;
  }
  header ul {
  	max-width: 100%;
    margin: 26px auto;
    text-align: center;
  }
  header h1 {
  	text-align: center;
  }
  header ul li:last-child {
  	margin: 26px 0;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  font-size: 56px !important;
  padding: 48px 0 !important;
  height: 120px;
  
}